<!DOCTYPE html>
<html>
  <head>
    <title>Registro de expedientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

          <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css' />

              <!-- estilo de sweetalert2 -->
    <link rel='stylesheet' href='sweetalert2.min.css' />

                     <!-- estilo de bootstrap 4  -->
    <link rel='stylesheet' href='css/dataTables.bootstrap4.min.css' />

                 <!-- estilo de bootstrap 4 responsive -->
    <link rel='stylesheet' href='css/responsive.bootstrap4.min.css' />

    
                 <!-- estilo de datatables - dt -->
    <link rel='stylesheet' href='css/select.dataTables.min.css' />

        <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    {{{body}}}

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modalcontainer p-3">
              <div class="row">
                  <label for="expediente">Número de expediente</label>
                  <input id="expediente" type="number" class="form-control inputmodal" placeholder="Nº Expediente">  
              </div>
              <br>
              <div class="row">
                  <label for="establecimiento">Establecimiento</label>
                  <input id="establecimiento" type="text" class="form-control inputmodal" placeholder="Establecimiento">
              </div>
              <br>
              <div class="row">
                  <label for="nombrefantasia">Nombre de fantasía</label>
                  <input id="nombrefantasia" type="text" class="form-control inputmodal" placeholder="Nombre de fantasía">
              </div>
              <br>
              <div class="row">
                  <label for="domicilio">Domicilio</label>
                  <input id="domicilio" type="text" class="form-control inputmodal" placeholder="Domicilio">
              </div>
              <br>
              <div class="row">
                  <label for="contacto">Contacto</label>
                  <input id="contacto" type="text" class="form-control inputmodal" placeholder="Contacto">
              </div>
              <br>
              <div class="row">
                  <label for="propiedad">Propiedad</label>
                  <input id="propiedad" type="text" class="form-control inputmodal" placeholder="Propiedad">
              </div>
              <br>
              <div class="row">
                  <label for="dirtecnica">Dirección técnica</label>
                  <input id="dirtecnica" type="text" class="form-control inputmodal" placeholder="Dirección técnica">
              </div>
              <br>
              <div class="row">
                  <label for="estado">Estado</label>
                  <input id="estado" type="text" class="form-control inputmodal" placeholder="Estado">
              </div>
              <br>
              <div class="row">
                  <label for="observaciones">Observaciones</label>
                  <input id="observaciones" type="text" class="form-control inputmodal" placeholder="Observaciones">
              </div>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <div class="modalfooter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="guardar" type="button" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

      <!-- sweet alert 2 js -->
  <script src="sweetalert2.all.min.js"></script>
 

  </body>
</html>
