<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

          <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css' />

              <!-- estilo de sweetalert2 -->
    <link rel='stylesheet' href='sweetalert2.min.css' />

        <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    {{{body}}}

      <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

      <!-- sweet alert 2 js -->
  <script src="sweetalert2.all.min.js"></script>

  

  </body>
</html>
